<footer id="footer-page" class="pop-out">
  <div class="f-info ">
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/adildyer/" target="_blank" style="color:green;">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <a href="https://www.linkedin.com/in/adildyer/" target="_blank" style="color:#ff3c63;">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/adildyer/" target="_blank">
        <i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; Question Bank Of Nfsu</div>
    <p>All Rights Reserved.</p>
    <div class="f-info-links">
      <a href="/note">A Note to All CRs </a> &nbsp;&nbsp;&nbsp;
    </div>
    <div class="f-info-links">
      <a href="/note">Connect Us </a> &nbsp;&nbsp;&nbsp;
    </div>

    <div class="referral">
      Designed By
      <a
        href="https://www.linkedin.com/in/adildyer/"
        target="_blank"
        style="text-decoration: none; color: #ff3c63"
        >@AdilDyer</a
      >
    </div>
  </div>
</footer>
