
<footer id="footer-page">
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; Question Bank Of Nfsu</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a> &nbsp;&nbsp;&nbsp;
      <a href="/terms">Terms</a>
    </div>

    <div class="referral">
      Designed By
      <a
        href="https://www.linkedin.com/in/adildyer/"
        target="_blank"
        style="text-decoration: none; color: #ff3c63"
        >@AdilDyer</a
      >
    </div>
  </div>
</footer>
