<nav class="navbar navbar-expand-md">
  <div class="container-fluid cont-nav">
    <a href="/" id="logo-icon"> </a>
    <a class="navbar-brand" href="/">
      <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1707926476/qbon_DEV/Screenshot_2024-02-07_at_10.04.12_AM_v8rboz.png"
        alt="dLogo"
        width="80"
        height="25"
        class="d-inline-block align-text-top logo-nav-img"
      />
    </a>

    <button
      class="navbar-toggler"
      style="background-color: pink"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if(isAuthenticated) { %>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle nav-link"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              id="profileimg"
              src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
              alt=""
            />
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="/account"
                style="color: mediumblue"
                >Your Account</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/signout" style="color: red"
                >Sign Out</a
              >
            </li>
          </ul>
        </div>
        <% } %>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger homebtn-btn">
            <a class="nav-link homebtn" href="/">Home</a>
          </button>
          <button type="button" class="btn btn-dark">
            <a class="nav-link uploadbtn" href="/upload">Upload (For CRs)</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <script>
  document.getElementById("profileimgdiv").addEventListener("click", () => {
    document.getElementById("profile-selection").style.display = "inline";
    document.getElementById("profile-selection").click();
  });
</script> -->
