<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid cont-nav">
    <a href="/" id="logo-icon"> </a>
    <a class="navbar-brand" href="/">
      <img
        src="https://lh3.googleusercontent.com/pw/ABLVV85ah1nmDPykf_HT8m7wMbfVzQUOxQ1ywbxDAEgCnEKyHqol_tynEyZL2PhMpc0_OJ--MQUCs1KF3hzMbUYNLpiJEFWzaMDecetiL8CQLuyT48Zpe5IprFMhnBmkbPU2HcoiWxWaYaWoGK3qe3nh8Zjy88oSNLe3dNLCky0vuHZDEIyXmQObT6wnDr6svjfc_aoMbbEudOQ-eu7YCZEeJLK8WEgwgzVKs8GT6R3Yu2T70y_7-bqgGvXZDchYZjOjQrQKQamw5K6fVajVz4ZghC63zykfr6PnD-1aRztDV2sNBxTBlkxe_GrB3KLPUQHsYGgaupfyTIAVSo5gGymnowlfAYNogo__iwfGpYoxGqcLS2cDD16fk07PKoTWbtp2UZdJtpFelV1KpTDiy0jGy-YOTmPuHhZ3uVCCq9BHesefVtHsWWPsg0xweM1Ri-2c-H0br38-yQn3VqQ2D7IrzHD_SJyYT7j1l-2d38MX4ppKYpYiquUbFmlkL04VavCfqjdHg6cRRXhYmIJXkIKLaToI3ArGley1jNkdLBHsHqAkNoDrLg0-2VJKJIAIHUVCQ8VqjH3Awzi5pkY02FY3v27cWqOo1oDIhJTP5EWPzQ-078QLBptHYUFHUcOPdU5bcVXc5b_cyTQT5WdN1R3RaUqdBtEdyclsh3UP2QTO_pAUcqsJjBZ204QRWvbF3nzZ6EDrxufzNslGmt6W5XUtba2knAvVO2WKE5cumZNnqhck8df09vO-lhhh6UD7g1vPxRyRs29rDZ0-M6qRTJ7SLyZ9mQcXnH-PXpj7dOwE2BPcbxbR6BF5jFPHUss5l63vm_u-R3bHGsJebhlQLT9eHq-2xgB1D4vFloCNzEVeHguwALyd8OOXdQsOUZ6rdf6opCNraGvDCKQlHGo3vwc1gDDuD_xTxnb26tWwHASaSYUC9qwf1OmSelI4JKdto0R5ez1BSMdqc91G9seQDLQRJMyNjtZgXA=w1306-h854-s-no-gm?authuser=0"
        alt="dLogo"
        width="80"
        height="25"
        class="d-inline-block align-text-top logo-nav-img"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger homebtn-btn">
            <a class="nav-link homebtn" href="/">Home</a>
          </button>
          <button type="button" class="btn btn-dark">
            <a class="nav-link uploadbtn" href="#">Upload (For CRs)</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
