<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid cont-nav">
    <a href="/" id="logo-icon"> </a>
    <a class="navbar-brand" href="/">
      <img
        src="https://lh3.googleusercontent.com/pw/ABLVV85IGTm9Uxg0s3tuTda5jyt7jp_GA-Z0Wsjze1KjVmGchJ8Z7foDolh4me2vIeiks0m74z27jL9fPQptglth1gbfZrP9jSYyjCRcIz_UkzziVXyAY7WfT6Qqs_1jVYiy14iCPaA5sevovPbhejZGTHtKDL-ATdTbXUorw8GiIjh6JgjnXU2CPX8OHlcyWwQl3mSMuMRIK1YBvdSDcG4Y0YH6jSMzeCoDblUTo3l0jhx3iiTMAPebP2HoZHYdZQmzSYY9DdNKMDI-XOSv2kOe-9GR_y0C1A4eEfO_-WtVZp3hfFBdCkDzPwZs1ZR-iFoIYb6bFFfqb5twfAVr05VPiLrGtJ_980p94vSfCila6yMN078_-BngX8U6V5TWFEasaWKmXpXnRgZ3OGC49PIo89kySMXwOOvLSA4ahFwgR88SaRXwtwtGACtvHHCglEioLROT6LqwVStc815u7cCk_uKueRgBeyOiwQKLvSGgn1Xru6l4QToodTs-Y98I0Jpml43iCcyXcROY9nnAo51nC_-zVLpLTmHKYb3GeQr2_ouPRG_6wkP2xfLYE6AodCuEpAAmTQudTCXk2IQvjbyiQPLPe7Frl0HZlh65RH90fH4WFU0lc4v36RUdGwtoKf2LgCI1Ywg0I3uzPNTF9Aq0KGzaUtWHK6Jrp1o_Drri8mZyWTFyM6hheDsez9K2EEotnG3JJslcOD9If5_MGaqmBI4hwp8Z9zlbEj-TftCF6aeHqb-vdFHqrhIRb2IM5omTnfHpo1H1CD2Dr8uTi-e1CKqSVXZvDvcYqJJDW_yDpzYGpxXQ_oEbVufWQUPaSfAlzFWrTHYFGQZGFD_T2MAhJcC_OuwX4ITvUl-ziWUzY7Wk2RiTyBIe-q0KZe4XSLggQ78wPKIV_k7j-JYHSZya8hFYwBgQ47hUk62m7SZ7OIsM9qLvh0lKtkIEyXTW-c6l-SbnD1ieCR1ILR1tGdJPG6VvsJx12w=w900-h338-s-no-gm?authuser=0"
        alt="dLogo"
        width="80"
        height="25"
        class="d-inline-block align-text-top logo-nav-img"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger homebtn-btn">
            <a class="nav-link homebtn" href="#">Home</a>
          </button>
          <button type="button" class="btn btn-dark">
            <a class="nav-link uploadbtn" href="#">Upload (For CRs)</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
