<%layout("/layouts/boilerplate.ejs")%>

<div class="motivtcont glow">
  <div class="slogan">Kya hua exams aa gye?</div>
  <div class="slogan" id="aag">Aag laga do !</div>
</div>

<div class="container-fluid" id="cont-home">
  <div class="img-div">
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1707926485/qbon_DEV/Screenshot_2024-02-07_at_10.01.59_AM_mbeifo.png"
      class="img-fluid"
      alt="..."
    />
  </div>

  <form action="/subject" method="get">
    <div class="selections" style="overflow: hidden">
      <!-- school -->
      <%-include("selections/btns/schoolbtn.ejs")%>
      <!-- Program -->
      <%-include("selections/btns/programbtn.ejs")%>
      <!-- Semester -->
      <%-include("selections/btns/semesterbtn.ejs")%>

      <button
        class="btn btn-lg focus-ring focus-ring-primary pop-out"
        style="
          background-color: #211c6a;
          color: white;
          width: 50rem;
          height: 4rem;
        "
        type="button"
        id="indexsubmitbtn"
      >
        SUBMIT
      </button>
      <h5 id="warningtext"></h5>
    </div>
  </form>
</div>

<script>
  // <%-include("selections/btnscript/selectionscript.js")%>
</script>
