<%layout("/layouts/boilerplate.ejs")%>

<div class="motivtcont glow">
  <div class="slogan">Kya hua exams aa gye?</div>
  <div class="slogan" id="aag">Aag laga do !</div>
</div>

<div class="container-fluid" id="cont-home">
  <div class="img-div">
    <img
      src="https://lh3.googleusercontent.com/pw/ABLVV86bXFbudscope--Dllbil9f_YqqaDcPP3GaEw8PH13Otx_zUKHomX2OcyNrjkzKjtMUwsYCk_hPcjdUjy0Ty86Fz1BWzAavf8kDdEV26M3Z4kuP0vfqUONDUuNJPxOY-LgHuBDRBkJHYSgxw3xkKO8j3vth22UEvD_wwMS4-nd1b4Pqe1rr8ZjPMlDTnDe6jNrcliE5WDLRfFnwMs9x3RTfvC4O7RRebMSlH7cOezeDxH9TekmNUwcKV0lbidWAf9jO_LdZBcgIQxvNINdOGGlLxiAnmZDXPlZgFnSF3Nq0cpx49gYGVrU_9lAZvYU-fd1uJH9-wIn9faCdosSldxUqa_TRlsmema8wmntzPZXAuq0DkS-vd8RuaTHSW9E6ch55KRYJHTrnyBwReTwjr4rBCrO2TPqrFd-umfzBvXuPh75ML7oCq8tJln6b4p5IZv_w1j1jAwmoWzKRM-D0g1l-h-p7LblJ_LH2NuYG8M8iaVyxeIpLkr3w7J6ZOY5Mji28Cp3BH6_SiZovQOE0GfnvsIsGNb-OvZE5kb8mDBh_5vWsbxPX1pAIcE__Awl7yT2ERB5XDJdnGLx0upFLN6rxrCmRur2TRo4_r-wgfUQSBTJDX2-JKuPySEZpvNF1na8xhU2igHeZHlfN9VgdBX0hbDwqatu6H57NUF6WISRWEXuIDMjrN6K4bXG6q1RDQIqvgM331dtNea9kJXUEPoNtnLWfmTTr9eaJiSLk7OMu0T11Rg-uHMePsRfwvwsyk1lW5eJTMfH2qyfcc91FhRK9EQ8-HyHOJeD_xP23AipttzVr_SWwdh5VOpzhm9tE3oudI6vJxQ2TLbGCCOTwsZpBo3V657oKkNDSA25PR9Po3vehP2RGNBG0o-H5il_9vzj3V2HymC2CenW4uF4PtPtAB9GxT5wPkAP5m63HUY4evhYZSrJ3uLNEiQnEsgh8rJN6Xqq1aUNIJdmm7qpsrlxjF5sXXQ=w1306-h854-s-no-gm?authuser=0"
      class="img-fluid"
      alt="..."
    />
  </div>

  <form action="/subject" method="get">
    <div class="selections" style="overflow: hidden">
      <!-- school -->
      <%-include("selections/btns/schoolbtn.ejs")%>
      <!-- Program -->
      <%-include("selections/btns/programbtn.ejs")%>
      <!-- Semester -->
      <%-include("selections/btns/semesterbtn.ejs")%>

      <button
        class="btn btn-lg focus-ring focus-ring-primary"
        style="
          background-color: #211c6a;
          color: white;
          width: 50rem;
          height: 4rem;
        "
        type="button"
        id="indexsubmitbtn"
      >
        SUBMIT
      </button>
      <h5 id="warningtext"></h5>
    </div>
  </form>
</div>

<script>
  // <%-include("selections/btnscript/selectionscript.js")%>
</script>
