<%layout("/layouts/boilerplate.ejs")%>

<div class="motivtcont glow">
  <div class="slogan">Kya hua exams aa gye?</div>
  <div class="slogan" id="aag">Aag laga do !</div>
</div>

<div class="container-fluid" id="cont-home">
  <div class="img-div">
    <img
      src="https://lh3.googleusercontent.com/pw/ABLVV86j6cNKdCxIX6FZ0z229jhLS8620izMZjPDJKUYTzuCncU0bBitfp6x6FJwga-s2nugkN4cK9_aZu_Mm9XJCEIF26Z1v5iSv_uhQr60le0yP-rz6qRUcbMUkV3V1sAfX1Ly10V_hC16wy-VdU6q0N75v3Ydk3PF_r4Zmzi7FzJ6UEvd-tII8Iyx7VwSpbsIs23LWl8PZ5EEOTvtWKSRr3jeQ3ksauo2Qc9e6fnukZnrvBne5F3DLGztkj39UhM6fBoxIvdf4VPZPkdqS0IcjEe4lifrSjdtscdI8mQ3MZ7HVUAsNDI0CJlsVIb9S0CP1-jp_E7slvGjP1e10pYBUSkOIiTXnyXWUrosdbvge_14UvuSoP8DnZbSoOU-UhtCK347MiaEFGb7-Pi9NOLwyaIodyq_3Cstr2Z8WXAXlmjJ3by1nELvvzYZBGIu7poDQvD9csRRbnxv0KWDCXwjcnuQIaMzqVhXqIYdtwy4S0Z_CEAQ0tPhNuL78lo--BR-BUp7Men1y3MLna97wkHMla2ZPTPUvvgPojcApITp14Nn_GUF63ODOz5nb8C6OXQCsZdcSOA0NB1zgW7PIeRoguYFAajx_5msee5OuXN3qfpR-TGhpM6FwYTk8RAjAjG_mCH1OFC5qr3WvdR_ARM11x-kN6k7HJHV2UG2Oj06BgL6fqjCQS9bYbks1GrwrZbonJV1jQUmtGub4HS_GXyp2KDPFiHUNHUiy8JrkaS1b7Y9U71FqsClMBb7P48WuebS0tyf89oQ2rRX70gpehfDRLaRcqbbX2T9qw60IsFSTwD-BiMTTg74tu-MK77FpQuGTX1exZO-l275JafED2M4EGKKMyLluiWNz2JA-yzVWO3xiQ3WdUzIpu0QJESZLzrnssK7gLePh8qrYdEAsYTQu41GU-r139QsyJLuNSZDSn6DIL-Wd9qjqSKXmu1kCqgJMYAWSkprq2DeUCnrJE89yO2FsyMdlg=w1306-h854-s-no-gm?authuser=0"
      class="img-fluid"
      alt="..."
    />
  </div>

  <form action="/subject" method="get">
    <div class="selections" style="overflow: hidden">
      <!-- school -->
      <%-include("selections/btns/schoolbtn.ejs")%>
      <!-- Program -->
      <%-include("selections/btns/programbtn.ejs")%>
      <!-- Semester -->
      <%-include("selections/btns/semesterbtn.ejs")%>

      <button
        class="btn btn-lg focus-ring focus-ring-primary"
        style="
          background-color: #211c6a;
          color: white;
          width: 50rem;
          height: 4rem;
        "
        type="button"
        id="indexsubmitbtn"
      >
        SUBMIT
      </button>
      <h5 id="warningtext"></h5>
    </div>
  </form>
</div>

<script>
  // <%-include("selections/btnscript/selectionscript.js")%>
</script>
