<%layout("/layouts/boilerplate.ejs")%>
    <link rel="stylesheet" href="/style.css" />

<div class="body-index body-ques">
  <%for(ref of refMaterials){%>
  <div class="card content-card" style="width: 18rem">
    <img
      src="<%=ref.link%>"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text"><%=ref.name%></p>
      <h6 style="display: none;" id="link"><%=ref.link%></h6>
    </div>
  </div>
  <%}%>
  <div>
    <h5>CR ko bolo Or Dale</h5><br>
    <a class="btn btn-lg btn-primary" href="/currcr">Click Here</a>
  </div>
</div>

<script>
  let cards = document.querySelectorAll(".content-card");
  let body = document.querySelector(".body-ques");

  cards.forEach((card) => {
    card.addEventListener("click", () => {
      let h6 = card.querySelector("h6");
      let form = document.createElement("form");
      let inp = document.createElement("input");
      form.target = "_blanck";
      inp.name = "link";
      inp.value = h6.innerText.trim();
      form.action = "/showfile";
      inp.style = "display:none;";
      form.style = "display:none;";
      form.append(inp);
      body.append(form);
      form.submit();
    });
  });
</script>
