<% layout("/layouts/boilerplate") %>
<div class="body-index body-login">
  <div class="cont-up-regis row g-3 needs-validation">
    <form
      class="needs-validation col-md-6"
      novalidate
      action="/register"
      method="post"
    >
      <div class="form-cont">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label"
            >Your Good Name Please..</label
          >
          <input
            type="text"
            name="name"
            class="form-control"
            id="validationCustom01"
            placeholder="Bhupendra Jogi"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <br /><br />
        <div class="col-md-4 user-login" style="margin-right: 100rem">
          <label for="validationCustomUsername" class="form-label"
            >Your Good Username Please..</label
          >
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input
              type="text"
              class="form-control"
              name="username"
              id="validationCustomUsername"
              aria-describedby="inputGroupPrepend"
              required
            />
            <div class="invalid-feedback">Please choose a username.</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomemail" class="form-label"
            >Your Good Email Please..</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="validationCustomemail"
            placeholder="nfsu@abc.com"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <br /><br />
        <div class="col-md-6">
          <label for="validationCustompass" class="form-label"
            >Set a Powerfull Password Here :</label
          >
          <input
            type="password"
            name="password"
            class="form-control"
            id="validationCustompass"
            required
          />
          <div class="invalid-feedback">Please provide a valid Pass.</div>
        </div>

        <br /><br />
        <div class="col-md-6">
          <label for="validationCustomschool" class="form-label"
            >Select Your School Here :</label
          >

          <select
            name="school"
            required
            id="validationCustomschool"
            class="form-control"
          >
            <%for(school of schools){%>
            <option value="<%=school.name%>"><%=school.name%></option>
            <%}%>
          </select>
          <div class="invalid-feedback">Please provide a valid School.</div>
        </div>
        <br />
        <div class="col-md-6">
          <label for="validationCustomcourse" class="form-label"
            >Select Your Course Here :</label
          >

          <select
            name="course"
            required
            id="validationCustomcourse"
            class="form-control"
          ></select>
          <div class="invalid-feedback">Please provide a valid Course.</div>
        </div>
        <br />
        <div class="col-md-6">
          <label for="validationCustomsem" class="form-label"
            >Select Your Semester Here :</label
          >

          <select
            name="semester"
            required
            id="validationCustomsem"
            class="form-control"
          >
            <option value="hehe">1</option>
            <option value="hoho">2</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid Semester No.
          </div>
        </div>
        <br /><br />
        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="invalidCheck"
              required
            />
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>

        <br /><br />
        <button class="btn btn-lg btn-primary" id="login-btn" type="submit">
          REGISTER
        </button>
      </div>
    </form>
    <div id="imglogin">
      <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1707926485/qbon_DEV/Screenshot_2024-02-07_at_10.01.59_AM_mbeifo.png"
        alt="..."
        class="col-md-6"
        id="theimgonlogin"
        width="500"
      />
    </div>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
  ////////////////////////////////
  let fetchForCourse = async (event) => {
    const schoolName = event.target.value;
    const courseSelect = document.getElementById("validationCustomcourse");
    courseSelect.innerHTML = "";
    const response = await fetch(`/getcourses?school=${schoolName}`);
    const courses = await response.json(); //response is json and courses is js object
    // Populate select options for courses
    courses.forEach((course) => {
      const option = document.createElement("option");
      option.text = course;
      option.value = course;
      courseSelect.appendChild(option);
    });
    // Set the first option as default for the course select
    courseSelect.value = courses[0].name;
    // Trigger change event manually
    courseSelect.dispatchEvent(new Event("change"));
  };
  document
    .getElementById("validationCustomschool")
    .addEventListener("click", fetchForCourse);
  //change
  document
    .getElementById("validationCustomschool")
    .addEventListener("change", fetchForCourse);

  // Fetch semesters based on selected course
  let fetchForSem = async (event) => {
    const courseName = event.target.value;
    const semesterSelect = document.getElementById("validationCustomsem");
    semesterSelect.innerHTML = ""; // Clear previous options

    // Fetch semesters for the selected course
    const response = await fetch(`/getsemesters?course=${courseName}`);
    const semesters = await response.json();

    // Populate select options for semesters
    semesters.forEach((semester) => {
      const option = document.createElement("option");
      option.text = semester;
      option.value = semester;
      semesterSelect.appendChild(option);
    });
    // Set the first option as default for the course select
    semesterSelect.value = semesters[0];
    // Trigger change event manually
    semesterSelect.dispatchEvent(new Event("change"));
  };
  document
    .getElementById("validationCustomcourse")
    .addEventListener("click", fetchForSem);

  //for the change event
  document
    .getElementById("validationCustomcourse")
    .addEventListener("change", fetchForSem);
</script>
