<% layout("/layouts/boilerplate") %>
<div class="body-index body-login">
  <div class="cont-up-form row g-3 needs-validation">
    <form
      class="needs-validation col-md-6"
      novalidate
      action="/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-cont">
        <div class="col-12 user-login" style="margin-right: 100rem">
          <label for="filetype" class="form-label"
            >Which type of File is <br />it ?</label
          >
          <div class="input-group has-validation">
            <select class="form-control" name="filetype" id="filetype" required>
              <option value="quespaper" selected>Question Paper</option>
              <option value="refmaterial">Reference Material</option>
            </select>
            <div class="invalid-feedback">Please choose a type.</div>
          </div>
        </div>
        <div class="col-12 user-login" style="margin-right: 100rem">
          <label for="subname" class="form-label"
            >For what Subject <br />is it ?</label
          >
          <div class="input-group has-validation">
            <select class="form-control" name="subject" id="subname" required>
              <%for(sub of subjects){%>
              <option value="<%=sub.name%>"><%=sub.name%></option>
              <%}%>
            </select>
            <div class="invalid-feedback">Please choose a Subject.</div>
          </div>
        </div>

        <input
          type="file"
          name="file"
          id="file"
          class="form-control"
          required
        />
        <div class="col-12">
          <br /><br />
          <button class="btn btn-lg btn-primary" id="login-btn" type="submit">
            Upload !
          </button>
        </div>
      </div>
    </form>
    <div id="imglogin">
      <img
        src="https://lh3.googleusercontent.com/pw/ABLVV86j6cNKdCxIX6FZ0z229jhLS8620izMZjPDJKUYTzuCncU0bBitfp6x6FJwga-s2nugkN4cK9_aZu_Mm9XJCEIF26Z1v5iSv_uhQr60le0yP-rz6qRUcbMUkV3V1sAfX1Ly10V_hC16wy-VdU6q0N75v3Ydk3PF_r4Zmzi7FzJ6UEvd-tII8Iyx7VwSpbsIs23LWl8PZ5EEOTvtWKSRr3jeQ3ksauo2Qc9e6fnukZnrvBne5F3DLGztkj39UhM6fBoxIvdf4VPZPkdqS0IcjEe4lifrSjdtscdI8mQ3MZ7HVUAsNDI0CJlsVIb9S0CP1-jp_E7slvGjP1e10pYBUSkOIiTXnyXWUrosdbvge_14UvuSoP8DnZbSoOU-UhtCK347MiaEFGb7-Pi9NOLwyaIodyq_3Cstr2Z8WXAXlmjJ3by1nELvvzYZBGIu7poDQvD9csRRbnxv0KWDCXwjcnuQIaMzqVhXqIYdtwy4S0Z_CEAQ0tPhNuL78lo--BR-BUp7Men1y3MLna97wkHMla2ZPTPUvvgPojcApITp14Nn_GUF63ODOz5nb8C6OXQCsZdcSOA0NB1zgW7PIeRoguYFAajx_5msee5OuXN3qfpR-TGhpM6FwYTk8RAjAjG_mCH1OFC5qr3WvdR_ARM11x-kN6k7HJHV2UG2Oj06BgL6fqjCQS9bYbks1GrwrZbonJV1jQUmtGub4HS_GXyp2KDPFiHUNHUiy8JrkaS1b7Y9U71FqsClMBb7P48WuebS0tyf89oQ2rRX70gpehfDRLaRcqbbX2T9qw60IsFSTwD-BiMTTg74tu-MK77FpQuGTX1exZO-l275JafED2M4EGKKMyLluiWNz2JA-yzVWO3xiQ3WdUzIpu0QJESZLzrnssK7gLePh8qrYdEAsYTQu41GU-r139QsyJLuNSZDSn6DIL-Wd9qjqSKXmu1kCqgJMYAWSkprq2DeUCnrJE89yO2FsyMdlg=w1306-h854-s-no-gm?authuser=0"
        alt="..."
        class="col-md-6"
        id="theimgonlogin"
        width="500"
      />
    </div>
    <button class="btn btn-lg" id="regis-btn">
      <a href="/register">New User? <br />Register Here !</a>
    </button>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();

  document.getElementById("subname").value = subjects[0].name;
</script>
