<% layout("/layouts/boilerplate") %>
<div class="body-index body-login upload-div">
  <div class="cont-up-form row g-3 needs-validation">
    <form
      class="needs-validation col-md-6"
      novalidate
      action="/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-cont upload-form-cont">
        <div class="col-12 user-login" style="margin-right: 100rem">
          <label for="filetype" class="form-label" style="margin-left: 0.3em"
            >Which type of File is <br />it ?</label
          >
          <div class="input-group has-validation">
            <select class="form-control" name="filetype" id="filetype" required>
              <option value="quespaper" selected>Question Paper</option>
              <option value="refmaterial">Reference Material</option>
            </select>
            <div class="invalid-feedback">Please choose a type.</div>
          </div>
        </div>
        <div class="col-12 user-login" style="margin-right: 100rem">
          <label for="subname" class="form-label" style="margin-left: 0.3em"
            >For what Subject <br />is it ?</label
          >
          <div class="input-group has-validation">
            <select class="form-control" name="subject" id="subname" required>
              <% subs.forEach(function(sub) { %>
              <option value="<%= sub._id%>"><%= sub.name %></option>
              <% }); %>
            </select>
            <div class="invalid-feedback">Please choose a Subject.</div>
          </div>
        </div>

        <div class="col-12 user-login" style="margin-right: 100rem">
          <label for="filename" class="form-label" style="margin-left: 0.3em"
            >Please enter the File Name :
          </label>
          <div class="input-group has-validation">
            <input
              type="text"
              style="font-weight: bolder"
              name="filename"
              id="filename"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a file-name.</div>
          </div>
        </div>

        <label for="file" class="form-label" style="margin-left: 0.3em"
          >Upload The Files:</label
        >
        <input
          type="file"
          name="files"
          id="files"
          class="form-control"
          required
          multiple
        />
        <div class="col-12">
          <br /><br />
          <button class="btn btn-lg btn-primary" id="login-btn" type="submit">
            Upload !
          </button>
        </div>
      </div>
    </form>
    <div id="imglogin">
      <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1707926485/qbon_DEV/Screenshot_2024-02-07_at_10.01.59_AM_mbeifo.png"
        alt="..."
        class="col-md-6"
        id="theimgonlogin"
        width="500"
      />
    </div>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
