body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* NAVBAR */
.navbar {
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar-nav {
  margin-left: auto;
}

.logo-nav-img {
  border-radius: 1rem;
  height: fit-content;
  width: 10rem;
  margin-right: 0.5rem;
}

.nav-link {
  cursor: pointer;
}
.nav-link:hover {
  color: black;
}

.homebtn {
  color: white;
  font-weight: 900;
}
.homebtn-btn {
  background-color: #ff3c63;
}
.uploadbtn {
  color: white;
  font-weight: 900;
}

/* home page */

/* motivational container */
.motivtcont {
  background-color: black;
  color: white;
  width: 100%;
  height: 5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.motivtcont div {
  font-size: larger;
  margin-right: 0.4rem;

  position: relative;

  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ff3c63, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 1s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#aag {
  color: hotpink;

  position: relative;

  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #ff3c63, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 0.5s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.slogan {
  font-weight: 400;
}
@media only screen and (min-width: 770px) {
  .slogan {
    font-weight: 900;
  }
}
/* homecontainer */
#cont-home {
  background-color: rgba(248, 205, 205, 255);
  height: fit-content;
  width: 100%;
}

.img-div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.img-fluid {
  height: fit-content;
  width: fit-content;
  border: brown solid;
  border-radius: 1rem 1rem;
  margin: 3rem 0rem 1rem 0rem;
}

/* selections */

.selections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 0 8rem 0;
  padding: 1rem 0 5rem 0;
  height: fit-content;
}

.selections-btn {
  margin: 0rem 500rem 4rem 500rem;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-page {
  width: 100%;
  padding: 1rem 0 1rem 0;
  background-color: #ebebeb;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
#footer-page {
  margin-top: 0;
}
