* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #ff3c63;
  background-color: #ff8a8a;
  background: linear-gradient(to right, #ff7691, #ff8a8a);
  height: 5rem;
  width: 100%;
  padding: 0 0rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  a {
    text-decoration: none;
    height: 100%;
  }
  .imgDiv {
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 70%;
      width: 65%;
      border-radius: 1rem;
      object-fit: cover;
      transition: all 0.3s;
    }
    img:hover {
      transform: scale(1.05);
      box-shadow: rgba(0, 0, 0, 0.226) 2px 2px 1rem;
    }
  }
  .rightPart {
    padding-right: 3rem;
    button {
      background-color: rgb(30, 30, 30);
      color: white;
      border: none;
      padding: 0.7rem 1rem;
    }
    #navLogin {
      background-color: #ff3c63;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      img {
        width: 2.5rem;
        border-radius: 50%;
      }
    }
    #navUploadLink {
      button {
        height: 3.9rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .adminImg {
      img {
        width: 4rem;
        margin-right: 2rem;
      }
    }
  }
}
.loginModal {
  .modal-content {
    background-color: bisque;
    border-radius: none !important;
    .loginUsingGoogleBtn {
      img {
        width: 2rem;
        margin: 0.5rem;
        border-radius: 50%;
      }
    }
  }
}

.homeDiv {
  min-height: 100vh;
  background-color: rgba(248, 205, 205, 255);
  .imgDiv {
    width: 100%;
    height: max(60vh, 30rem);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .brownStrip {
      position: absolute;
      width: 100%;
      height: 8rem;
      background-color: #290d0d;
    }
    img {
      max-width: 80%;
      object-fit: cover;
      z-index: 100;
      height: 85%;
      border: dashed #290d0d 4px;
      border-radius: 2rem;
      box-shadow: rgba(139, 0, 0, 0.629) 0px 0px 5rem;
    }
  }
  .textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #290d0d;
    margin: 1rem 0;
    width: 100%;
    height: 30vh;
    padding: 0 5rem;
    h6,
    h4 {
      font-weight: 700;
      text-align: center;
    }
    h6 {
      font-style: italic;
    }
  }
  .selectTagsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
    select {
      margin: 0.5rem;
      width: 60%;
    }
    button {
      margin: 2rem;
      background-color: #ff3c63;
      border: none;
    }
  }
}

.footer {
  width: 100%;
  height: 50vh;
  background-color: #ff3c63;
  color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .textDiv {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    padding: 5rem;
    border: dashed bisque 6px;
    border-right: 0;
    span {
      color: red;
      background-color: bisque;
      border-radius: 1rem;
      padding: 0.5rem;
      /* text-shadow: dodgerblue 0 0 2px; */
      a {
        text-decoration: none;
        cursor: cell;
      }
    }
  }
  .imgDiv {
    width: 30%;
    height: 100%;
    border: dashed bisque 6px;
    border-left: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.ourMotoDiv {
  background-color: powderblue;
  color: midnightblue;
  text-shadow: dodgerblue 1px 1px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  h5,
  h2 {
    margin: 1.8rem;
    font-weight: 700;
  }
  h2 {
    color: red !important;
  }
  span {
    background-color: rgb(0, 219, 219);
    border-radius: 1rem;
  }
}

.notLoggedInUploadDiv {
  height: 100vh;
  background-color: rgba(248, 205, 205, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadDiv {
  .upperPart,
  .lowerPart {
    background-color: rgba(248, 205, 205, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    .leftPart {
      width: 50%;
      height: 100%;
    }
    .rightPart {
      width: 50%;
      height: 100%;
      input {
        width: 100%;
        margin: 1rem;
      }
      button {
        margin: 1rem;
        background-color: #1e2a5e;
        border: none;
      }
    }
    .selectTagsDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      select {
        margin: 0.5rem;
        width: 90%;
      }
    }
  }
  .lowerPart {
    .leftPart {
      color: #290d0d;
      padding-left: 2.5rem;
      h6 {
        text-align: justify;
        padding-right: 3rem;
      }
      .form-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        input {
          max-width: 1rem;
          margin: 0rem;
          margin-right: 0.5rem;
        }
      }
    }
    .rightPart {
      height: 8rem;
      padding-left: 0rem;
      button {
        font-size: 1.5rem;
        background-color: #ff3c63;
        border: dashed rgba(248, 205, 205, 255) 2px;
        border: 1px dashed bisque;
        transition: all 0.3s;
      }
      button:hover {
        transform: translate(-2px, -2px);
        box-shadow: rgba(0, 0, 0, 0.226) 2px 2px 1rem;
        border: solid 2px bisque;
      }
    }
  }
}

.adminDiv {
  background-color: teal;
  color: white;
  padding: 5rem;
  .cardsDiv {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .card {
      margin: 3rem;
      box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 1rem;
      border: none;
      width: 30rem;
      border-radius: 1rem;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      .imgDiv {
        overflow: hidden;
        width: 100%;
        height: 15rem;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .textDiv {
        height: fit-content;
        table {
          margin: 0;
        }
      }
      .buttonsDiv {
        height: 5rem;
        background-color: powderblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
  .deleteBtnDiv {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
}

.resultPageDiv {
  .noDataUploadedDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(248, 205, 205, 255);
    color: #290d0d;
    h3 {
      color: red;
    }
    h3,
    h4 {
      font-weight: 700;
    }
  }
  /* topDiv is present in both noDataUploadedDiv and resultsDiv */
  .topDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    h1 {
      width: fit-content;
      span {
        background-color: #290d0d;
        color: white;
        padding: 0.8rem;
        border-radius: 1rem;
      }
    }
  }
  .resultsDiv {
    min-height: 100vh;
    background-color: rgba(248, 205, 205, 255);
    color: #290d0d;
    padding: 3rem;
    .cardsDiv {
      padding: 3rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .card {
        width: 20rem;
        height: 30rem;
        margin: 2rem;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 1rem;
        border: none;
        .imgDiv {
          width: 100%;
          height: 40%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .cardTextBody {
          width: 100%;
          height: 60%;
          /* padding: 1rem; */
          color: #290d0d;
          overflow: scroll;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          background-color: #9dbdff;
          .materialName {
            padding: 0.8rem;
            margin: 0;
            background-color: #7695ff;
          }
          .materialDescription {
            padding: 0.8rem;
            margin: 0;
            background-color: #9dbdff;
          }
          .materialType {
            padding: 0.8rem;
            margin: 0;
            background-color: #ffd7c4;
          }
          .buttonDiv {
            padding: 0.8rem;
            margin: 0;
            background-color: #ff9874;
          }
        }
      }
    }
  }
}

.accountDiv {
  min-height: 100vh;
  background-color: rgba(248, 205, 205, 255);
  .notLoggedInDiv {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: midnightblue;
  }
  .personalInfo {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7691, #ff8a8a);
    gap: 2rem;
    .imgDiv {
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .textDiv {
      h1,
      h3 {
        font-weight: 700;
        color: #1e2a5e;
      }
    }
  }
  .yourUploadsDiv {
    padding: 3rem;
    h1 {
      color: #ff3c63;
      margin-bottom: 4rem;
    }
    .noUploadsDiv {
      h3,
      p {
        font-weight: 700;
      }
    }
    .cardsDiv {
      padding: 3rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .card {
        width: 20rem;
        height: 30rem;
        margin: 2rem;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 1rem;
        border: none;
        .imgDiv {
          width: 100%;
          height: 40%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .cardTextBody {
          width: 100%;
          height: 60%;
          /* padding: 1rem; */
          color: #290d0d;
          overflow: scroll;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          background-color: #9dbdff;
          .materialName {
            padding: 0.8rem;
            margin: 0;
            background-color: #7695ff;
          }
          .materialDescription {
            padding: 0.8rem;
            margin: 0;
            background-color: #9dbdff;
          }
          .materialType {
            padding: 0.8rem;
            margin: 0;
            background-color: #ffd7c4;
          }
          .buttonDiv {
            padding: 0.8rem;
            margin: 0;
            background-color: #ff9874;
          }
        }
      }
    }
  }
}

/* Portrait mode for mobile devices */
@media (max-width: 700px) {
  .navbar {
    .imgDiv {
      width: 7rem;
    }
    .rightPart {
      padding-right: 1rem;
      button {
        padding: 0.7rem 0.8rem;
      }
      .adminImg {
        img {
          width: 4rem;
          margin-right: 1rem;
        }
      }
    }
  }
  .homeDiv {
    .imgDiv {
      height: 60vh;
      img {
        height: 60%;
        width: 90%;
        object-fit: cover;
      }
    }
    .textDiv {
      height: 50vh;
    }
  }
  .selectTagsDiv {
    margin-top: 3rem;
    select {
      font-size: 1rem;
    }
  }
  .footer {
    flex-direction: column;
    height: fit-content;
    border: dashed bisque 4px;

    justify-content: center;
    .textDiv {
      border: none;
      width: 100%;
      padding: 3rem;
      gap: 1rem;
      span {
        line-height: 2rem;
        padding: 0;
        border-radius: 0;
      }
    }
    .imgDiv {
      width: 100%;
      border: none;
    }
  }

  .ourMotoDiv {
    padding: 1rem;
  }
  .notLoggedInUploadDiv {
    padding: 1rem;
  }

  .uploadDiv {
    .upperPart,
    .lowerPart {
      flex-direction: column;
      padding: 1rem;
      .leftPart {
        width: 100%;
        margin-bottom: 2rem;
      }
      .rightPart {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        input {
          margin: 0;
        }
      }
    }
    .lowerPart {
      .leftPart {
        padding: 1rem;
        h6 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
  .adminDiv {
    padding: 1rem;
    .cardsDiv {
      padding: 0;
      .card {
        margin: 1rem;
      }
    }
  }

  .resultPageDiv {
    .noDataUploadedDiv {
      padding: 2rem;
    }

    .resultsDiv {
      padding: 0;
      .topDiv {
        padding: 2rem;
        gap: 2rem;
        padding-bottom: 0;
        flex-direction: column;
      }
      .cardsDiv {
        padding: 1rem;
      }
    }
  }
  .accountDiv {
    .notLoggedInDiv {
      padding: 2rem;
    }
    .personalInfo {
      flex-direction: column;
      height: 25rem;
    }
    .yourUploadsDiv {
      h1 {
        margin-top: 4rem;
      }
      .cardsDiv {
        padding: 0;
        .card {
          margin: 1rem;
        }
      }
    }
  }
}

/* Landscape mode for mobile devices */
/* @media (max-width: 767px) and (orientation: landscape) {

} */

/* Portrait mode for tablets */
@media (min-width: 701px) and (max-width: 1240px) {
  .homeDiv {
    /* .imgDiv {
      height: 70vh;
      img {
        height: 60vh;
        width: 75%;
        object-fit: cover;
      }
    } */
    .textDiv {
      height: 50vh;
    }
  }
  .footer {
    flex-direction: column;
    height: fit-content;
    border: dashed bisque 4px;
    justify-content: center;
    .textDiv {
      border: none;
      width: 100%;
      padding: 3rem;
      gap: 1rem;
      span {
        line-height: 2rem;
        padding: 0;
        border-radius: 0;
      }
    }
    .imgDiv {
      width: 100%;
      border: none;
    }
  }
}

/* Landscape mode for tablets */
/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
} */

/* For small desktops and laptops */
/* @media (min-width: 1025px) and (max-width: 1240px) {
} */

/* For large desktops */
/* @media (min-width: 1367px) {
} */
