* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: rgb(108, 197, 211);
  background-color: rgb(126, 208, 221);
  background-color: #ff8a8a;
  height: 5rem;
  width: 100%;
  padding: 0 0rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  .imgDiv {
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 70%;
      width: 65%;
      border-radius: 1rem;
      object-fit: cover;
    }
  }
  .rightPart {
    padding-right: 3rem;
    button {
      background-color: rgb(30, 30, 30);
      color: white;
      border: none;
      padding: 0.7rem 1rem;
    }
    #navLogin {
      background-color: #ff3c63;
    }
  }
}

.homeDiv {
  min-height: 100vh;
  background-color: rgba(248, 205, 205, 255);
  .imgDiv {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .brownStrip {
      position: absolute;
      width: 100%;
      height: 8rem;
      background-color: #290d0d;
    }
    img {
      width: auto;
      z-index: 100;
      height: 55vh;
      border: dashed brown 4px;
      border-radius: 2rem;
      box-shadow: rgba(139, 0, 0, 0.629) 0px 0px 5rem;
    }
  }
  .textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #290d0d;
    margin: 1rem 0;
    width: 100%;
    height: 30vh;
    padding: 0 5rem;
    h6,
    h4 {
      font-weight: 700;
      text-align: center;
    }
    h6 {
      font-style: italic;
    }
  }
  .selectTagsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    select {
      margin: 0.5rem;
      width: 60%;
    }
    button {
      margin: 2rem;
    }
  }
}
