<%layout("/layouts/boilerplate.ejs")%>
<div class="body-index body-ques">
<div class="card" style="width: 18rem;">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAA1BMVEUAAACnej3aAAAAR0lEQVR4nO3BAQ0AAADCoPdPbQ8HFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPBgxUwAAU+n3sIAAAAASUVORK5CYII=" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">midsem</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAA1BMVEUAAACnej3aAAAAR0lEQVR4nO3BAQ0AAADCoPdPbQ8HFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPBgxUwAAU+n3sIAAAAASUVORK5CYII=" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">end Sem</p>
  </div>
</div>

</div>
