<div class="program">
  <button
    class="btn btn-lg focus-ring focus-ring-primary selections-btn pop-out"
    style="
      background-color: #d63484;
      color: white;
      width: 50rem;
      height: 4rem;
      font-weight: bolder;
    "
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#programOffcanvas"
    id="btnprogram"
    aria-controls="offcanvasWithBothOptions"
  >
    ~~~ Select Your Program ~~~
  </button>
  <input
    type="text"
    name="course"
    id="programname"
    style="display: none"
  />
  <div
    class="offcanvas offcanvas-end"
    data-bs-theme="dark"
    data-bs-scroll="true"
    tabindex="-1"
    id="programOffcanvas"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
        Select Your Program Name <br />From Below :
      </h5>
      <button
        type="button"
        class="btn-close"
        id="btn-close-program"
        data-bs-dismiss="offcanvas"
      ></button>
    </div>
    <div class="offcanvas-body">
      <!--  -->
      <ol class="list-group list-group-numbered" id="clickableListprogram"></ol>
      <!--  -->
    </div>
  </div>
</div>
