<div class="school">
  <button
    class="btn btn-lg focus-ring focus-ring-primary selections-btn"
    style="
      background-color: #402b3a;
      color: white;
      width: 50rem;
      height: 4rem;
      font-weight: bolder;
    "
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#schoolOffcanvas"
    id="btnschool"
    aria-controls="offcanvasWithBothOptions"
  >
    ~~~ Select Your School ~~~
  </button>
  <input type="text" name="school" id="schoolname" style="display: none" />
  <div
    class="offcanvas offcanvas-end"
    data-bs-theme="dark"
    data-bs-scroll="true"
    tabindex="-1"
    id="schoolOffcanvas"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
        Select Your School Name <br />From Below :
      </h5>
      <button
        type="button"
        class="btn-close"
        id="btn-close-school"
        data-bs-dismiss="offcanvas"
      ></button>
    </div>
    <div class="offcanvas-body">
      <!--  -->
      <ol class="list-group list-group-numbered" id="clickableListschool">
        <%for(school of schools){%>

        <li class="list-group-item list-group-item-primary">
          <%=school.name%>
          <h1 style="display: none" id="myschool">
            <%= JSON.stringify(school) %>
          </h1>
        </li>

        <%}%>
      </ol>

      <!--  -->
    </div>
  </div>
</div>
<p id="getcourses" style="display: none"> <%= JSON.stringify(courses) %></p>

<p id="getsems" style="display: none"><%= JSON.stringify(semesters) %></p>
