<div class="semester">
  <button
    class="btn btn-lg focus-ring focus-ring-primary selections-btn"
    style="background-color: #f8f4ec; color: black; width: 50rem; height: 4rem ; font-weight: bolder;"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#semesterOffcanvas"
    id="btnsemester"
    aria-controls="offcanvasWithBothOptions"
  >
    ~~~ Select Your Semester ~~~
  </button>
  <input
    type="text"
    name="semester"
    id="semestername"
    style="display: none"
  />
  <div
    class="offcanvas offcanvas-end"
    data-bs-theme="dark"
    data-bs-scroll="true"
    tabindex="-1"
    id="semesterOffcanvas"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
        Select Your Semester Name <br />From Below :
      </h5>
      <button
        type="button"
        class="btn-close"
        id="btn-close-semester"
        data-bs-dismiss="offcanvas"
      ></button>
    </div>
    <div class="offcanvas-body">
      <!--  -->
      <ul class="list-group" id="clickableListsemester">

      </ul>
      <!--  -->
    </div>
  </div>
</div>
